<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<LINK rel="Bookmark" href="/favicon.ico" >
<LINK rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__JS__admin/html5.js"></script>
<script type="text/javascript" src="__JS__admin/respond.min.js"></script>
<script type="text/javascript" src="__JS__admin/PIE_IE678.js"></script>
<![endif]-->
<link href="__CSS__admin/H-ui.css" rel="stylesheet" type="text/css" />
<link href="__CSS__admin/H-ui.login.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="__JS__admin/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>后台登录 - H-ui.admin v2.1</title>
</head>
<body>
<input type="hidden" id="TenantId" name="TenantId" value="" />
<div class="header"></div>
<div class="loginWraper">
  <div id="loginform" class="loginBox">
    <form onsubmit="return check_form()" action="" method="post">
      <div class="formRow user">
        <input id="uname" name="" type="text" placeholder="账户" class="input_text input-big">
      </div>
      <div class="formRow password">
        <input id="upwd" name="" type="password" placeholder="密码" class="input_text input-big">
      </div>
      <!--<div class="formRow yzm">
        <input class="input_text input-big" type="text" placeholder="验证码" onBlur="if(this.value==''){this.value='验证码:'}" onClick="if(this.value=='验证码:'){this.value='';}" value="验证码:" style="width:150px;">
        <img src="__IMG__admin/VerifyCode.aspx.png"> <a id="kanbuq" href="javascript:;">看不清，换一张</a> </div>
      -->
      <div class="formRow">
        <input name="" type="submit" class="btn radius btn-success btn-big" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
        <input name="" type="reset" class="btn radius btn-default btn-big" value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">
      </div>
    </form>
  </div>
</div>
<div class="footer">H-ui 直播室后台 V1.0</div>
<script type="text/javascript" src="__JS__admin/jquery.min.js"></script>
<script type="text/javascript" src="__JS__admin/H-ui.js"></script>
<script type="text/javascript">
	function check_form(){
		
		var uname = $('#uname').val();
		var upwd   = $('#upwd').val();
		$.post('{:url("Login/check_login")}',{uname:uname,upwd:upwd},function(data){
		
			if(data==-1){
				alert('用户名或者密码错误');
			}else{
				location.href="{:url('Index/index')}";
			}
			
		});
		return false;
	}
</script>
</body>
</html>