<!--_meta 作为公共模版分离出去-->

<!DOCTYPE HTML>

<html>

<head>

<meta charset="utf-8">

<link rel="Bookmark" href="/favicon.ico" >

<link rel="Shortcut Icon" href="/favicon.ico" />

<!--[if lt IE 9]>

<script type="text/javascript" src="js/html5shiv.js"></script>

<script type="text/javascript" src="js/respond.min.js"></script>

<![endif]-->

<link rel="stylesheet" type="text/css" href="css/H-ui.min.css" />

<link rel="stylesheet" type="text/css" href="css/H-ui.admin.css" />

<link rel="stylesheet" type="text/css" href="css/iconfont.css" />

<link rel="stylesheet" type="text/css" href="css/skin.css" id="skin" />

<link rel="stylesheet" type="text/css" href="css/style.css" />

<!--[if IE 6]>

<script type="text/javascript" src="js/DD_belatedPNG_0.0.8a-min.js" ></script>

<script>DD_belatedPNG.fix('*');</script>

<![endif]-->

<!--/meta 作为公共模版分离出去-->



<title></title>

</head>

<body>
<style type="text/css">
	.col-xs-8{width:auto;}
</style>
<div id="add_wrap">

	<form action="" method="post" class="form form-horizontal" id="form-admin-role-add">

		<div style="margin-bottom:50px;" class="row cl">

			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>

			<div class="formControls col-xs-8 col-sm-9">

				<input type="text" class="input-text" value="" placeholder="" id="roleName" name="roleName">

			</div>

		</div>

		<div style="margin-bottom:50px;">
			<select style="" name="" id="">
				<option value="">a</option>
			</select>
		</div>

		<div class="row cl">

			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">

				<button type="submit" class="btn btn-success radius" id="admin-role-save" name="admin-role-save"><i class="icon-ok"></i> 确定</button>

			</div>

		</div>

	</form>

</div>





</body>

</html>