html {
	
}
input[type="button"], input[type="submit"], input[type="reset"] {
-webkit-appearance: none;
}
body {
	font-family:"Microsoft Yahei";
	font-size:12px;
	margin:0;
     
    background-size: cover;
}
ul {
	padding:0;
	margin:0;
}
ul li {
	list-style-type:none;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:none;color:#f00;
}
.cl{ clear: both;}
input[type="text"]:focus, input[type="password"]:focus {
	outline:none;
}
input::-ms-clear {
	display:none;
}
.login {
	width:370px;
	border-bottom:none;
	margin:0px;
}
.header {
	height:50px;

	position:relative;
	font-family:"Microsoft Yahei";
        background: url(../images/login_bg.png) no-repeat;
    background-position: 0 -5px;
        background-size: 100%;
}
.header .switch {
	height:45px;
	position:absolute;
	left:60px;
	bottom:0;
	font-size:18px;
}
.header .switch #switch_qlogin {
	    margin-right: 107px;
    margin-left: 16px;
}
.header .switch .switch_btn {
	color:#555;
	display:inline-block;
	height:45px;
	line-height:45px;
	outline:none;
	*hide-focus:expression(this.hideFocus=true);
}
.header .switch .switch_btn_focus {
	color:#2795dc;
	display:inline-block;
	height:45px;
	line-height:45px;
	outline:none;
	*hide-focus:expression(this.hideFocus=true);
}
.header .switch .switch_btn:hover {
	color:#333;
	text-decoration:none;
}
.header .switch .switch_btn_focus:hover {
	text-decoration:none;
}
.footer{
     position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: url(../images/login_bg.png) no-repeat;
    background-position: 0 -70px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    z-index: 1;
     background-size: 100%;
    
}

#switch_bottom {
	position:absolute;
	bottom:-1px;_bottom:-2px;
	border-bottom:2px solid #2795dc;
}

.web_login {
	width:370px;
	position:relative;
}
#web_login{_left:60px;*left:0;}
.web_login .login_form {
	width:300px;
	margin:0 auto;
}
.web_login .reg_form {
	width:300px;
	margin:0 auto;
}
.web_login .input-tips {
	float:left;
	width:50px;
	height:42px;
	font-size:16px;
	line-height:42px;
	font-family:"Hiragino Sans GB", "Microsoft Yahei";
            background: #f9f9f9;
    border: #e5e5e5 solid 1px;
    border-right: none;
}
.web_login .input-tips2 {
	float:left;
	text-align:right;
	padding-right:10px;
	width:75px;
	height:30px;
	font-size:16px;
	margin-top:10px;
	clear:both;
	line-height:30px;
	font-family:"Hiragino Sans GB", "Microsoft Yahei";
}
.web_login .username{
    display: block;
    height: 40px;
    width: 42px;
    background-image: url(../images/login_bg.png);
    cursor: pointer;
        background-position: -177px -214px;
        font-style: normal;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.web_login .password{
    display: block;
    height: 40px;
    width: 42px;
    background-image: url(../images/login_bg.png);
    cursor: pointer;
         background-position: -88px -216px;
        font-style: normal;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.web_login .phone{
    display: block;
    height: 40px;
    width: 42px;
    background-image: url(../images/login_bg.png);
    cursor: pointer;
   background-position: -36px -216px;
        font-style: normal;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.web_login .yzm{
    display: block;
    height: 40px;
    width: 42px;
    background-image: url(../images/login_bg.png);
    cursor: pointer;
      background-position: -134px -214px;
        font-style: normal;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.web_login .qq{
    display: block;
    height: 40px;
    width: 42px;
    background-image: url(../images/login_bg.png);
    cursor: pointer;
      background-position: -263px -214px;
        font-style: normal;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.web_login .inputOuter {
	width:257px;
	height:42px;
	
	float:left;
	
}
.web_login .inputOuter2 {
	width:257px;
	height:42px;
	
	float:left;
	
}
.web_login .inputOuter3 {
	width:210px;margin-top:5px\9;
	float:left;
	
}
.web_login .inputstyle {
    width: 250px;
    height: 40px;
    padding: 0px;
    padding-left: 5px;
    line-height: 40px;
    box-shadow: none;
    -webkit-appearance: none;
	border:1px solid #D7D7D7;
	background:#fff;
	color:#333;border-radius:2px;
	font: 12px/1.5 "STHeiti","Microsoft YaHei","Helvetica Neue","Helvetica","SimSun","STSong","Arial","sans-serif";
	
        border-radius: 0 2px 2px 0;
}
.web_login input.inputstyle2:focus,.web_login input.inputstyle:focus{border:1px solid #198BD4;box-shadow:0 0 2px #198BD4;}
.web_login .inputstyle2 {
	width:200px;
	height:38px;
	padding-left:5px;
	line-height:34px;
	border:1px solid #D7D7D7;
	background:#fff;
	color:#333;border-radius:2px;
	font-family:Verdana, Tahoma, Arial;
	font-size:16px;
}
.web_login .uinArea {
	height:42px;
        margin-top: 40px;
	position:relative;
	z-index:10;
}
.web_login .pwdArea {
	height:42px;
        margin-top: 13px;
	margin-bottom:10px;
	position:relative;
	z-index:3;
}
.web_login .regArea {
	height:42px;
        margin-top: 13px;
	margin-bottom:10px;
	position:relative;
	z-index:3;
}
.web_qr_login {
	position:relative;
	overflow:hidden;
}

.cue {
	height:40px;
	line-height:40px;
	font-size:14px;
	border:1px #CCCCCC solid;
	margin-top:10px;margin-bottom:5px;
	text-align:center;
	font-family:"Hiragino Sans GB", "Microsoft Yahei";
}
h1{margin:80px auto 50px auto;text-align:center;color:#fff;margin-left:-25px;font-size:35px;font-weight: bold;text-shadow: 0px 1px 1px #555;}
h1 sup{
    font-size: 18px;
    font-style: normal;
    position: absolute;
    margin-left: 10px;}
.login {border:0;

margin: 0 auto;
}

.web_login{padding-bottom:20px;
z-index: 999;
}

.jianyi{color:#fff;text-align:center;margin-top:25px;color:#B3B8C4;}
.reg_form li {
height: 55px;
}
.cue {
margin-top: 15px;
margin-bottom: 10px;border:1px solid #eee;border-radius:3px;
}
.web_login input.inputstyle2:focus, .web_login input.inputstyle:focus {
border: 1px solid #5796f;
box-shadow: 0 0 0;
}
.web_login .reg_form {width: 300px;margin: 0 auto;margin-top: 30px;}
.web_login .inputstyle2 {border-radius:2px;width:210px;font-size: 14px;}
.web_login .input-tips2 {
padding-right: 5px;
width: 80px;_width: 75px;_font-size:12px;}

.web_login .inputstyle3 {
	width:120px;
	height:38px;
	padding-left:5px;
	line-height:30px;line-height:38px;
	border:1px solid #D7D7D7;
	background:#fff;
	color:#333;border-radius:2px;
	font: 12px/1.5 "STHeiti","Microsoft YaHei","Helvetica Neue","Helvetica","SimSun","STSong","Arial","sans-serif";
	
        border-radius: 0 2px 2px 0;
	ime-mode:disabled;
        float: left;
}
.button_blue
{
	display:inline-block;
	float:left;
	height:41px;border-radius:4px;
	background:#2795dc;border:none;cursor:pointer;
	border-bottom:3px solid #0078b3;
	color:#fff;
	font-size:16px;padding:0 10px;
	text-align:center;outline:none;font-family: "Microsoft Yahei",Arial, Helvetica, sans-serif;
}
input.button_blue:hover
{
	background:#0081c1;
	border-bottom:3px solid #006698;
	color:#fff;
	text-decoration:none;
}
a.zcxy {line-height:58px;margin-left:15px;color: #959ca8;cursor:pointer;}
.web_login .login_form {margin-top:30px;}
.header .switch{left:70px;}

.getcode{text-align: center;
         height: 39px;
         line-height: 39px;
         border: #ccc 1px solid;
         background: #2795dc;
         border: none;
    position: absolute;
    top:3px;
    right:1px;

         float: right;
         padding:0px;
         color:#fff;
         font-family: "Microsoft Yahei",Arial, Helvetica, sans-serif;
}
.getcode:hover
{
	background:#0081c1;
	
	color:#fff;
	text-decoration:none;
}
.us_input{border-radius:4px;font-size:14px;}
.text_input{width:90px;height:36px;line-height:36px;padding:0;cursor: pointer;}
        
.control-password{ margin-top: 10px;width: 300px;text-align: right;}
.control-password a{color: #2795dc;cursor:pointer;}
.control-password a:hover{color: #0081c1;}
.button-container{margin-top:10px;height: 50px;}
.button_login{width:300px;font-size: 22px;    height: 50px;}
.button_reg{width:300px;font-size: 22px;    height: 50px;}
.ruc-third-way-login{margin-top: 18px;}
.ruc-third-way-login span{    float: left;
    color: #828282;
    margin: 6px 12px 0 0;}
.ruc-third-way-login ul{
    list-style: none;
}
.ruc-third-way-list li{float: left;
    margin: 2px 0 0 16px;
    list-style: none;
    vertical-align: top;
}
.ruc-third-way-list .icon-use-qq a{display: block;
    width: 25px;
    height: 25px;
    background: url(../images/login_bg.png) no-repeat;
    background-position: -148px -180px;
}
.ruc-third-way-list .icon-use-qq a:hover{
    background-position: -119px -180px;
}
.ruc-third-way-list .icon-use-wechat a{display: block;
    width: 25px;
    height: 25px;
    background: url(../images/login_bg.png) no-repeat;
    background-position: -207px -180px;
}
.ruc-third-way-list .icon-use-wechat a:hover{
    background-position: -178px -180px;
}
.common-error-msg-container{margin-top: 0;height: 20px; color: #fb6a54;}