<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__JS__admin/html5.js"></script>
<script type="text/javascript" src="__JS__admin/respond.min.js"></script>
<script type="text/javascript" src="__JS__admin/PIE_IE678.js"></script>
<![endif]-->
<link type="text/css" rel="stylesheet" href="__CSS__admin/H-ui.css"/>
<link type="text/css" rel="stylesheet" href="__CSS__admin/H-ui.admin.css"/>
<!--[if IE 7]>
<link href="font/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" />
<![endif]-->
<title>添加用户</title>
</head>
<body>
<div class="pd-20">
  <div class="Huiform">
    <form action="" method="post" onsubmit="return check_form()">
      <table class="table table-bg">
        <tbody>
          <tr>
            <th class="text-r"><span class="c-red">*</span> 姓名：</th>
            <td><input type="text" style="width:300px" class="input-text" value="{$jiangshi.name}" placeholder="" id="name" name="name"></td>
          </tr>
		   <tr>
            <th class="text-r"><span class="c-red">*</span> 标签：</th>
            <td><input type="text" style="width:300px" class="input-text" value="{$jiangshi.flag}" placeholder="" id="flag" name="flag"></td>
          </tr>
          <tr>
            <th class="text-r">图片：</th>
            <td><input type="file" name="image" id="image" onchange="uploadImg('image')"/><span id="uploadFile">{$jiangshi.icon}</span></td>
			
          </tr>
		   <tr>
            <th class="text-r"><span class="c-red">*</span> style：</th>
            <td><input type="text" style="width:300px" class="input-text" value="{$jiangshi.style}" placeholder="" id="style" name="style"></td>
          </tr>
		   <tr>
            <th class="text-r"><span class="c-red">*</span> 投资历史：</th>
            <td><input type="text" style="width:300px" class="input-text" value="{$jiangshi.history}" placeholder="" id="history" name="history"></td>
          </tr>
		   <tr>
            <th class="text-r"><span class="c-red">*</span> 擅长指标：</th>
            <td><input type="text" style="width:300px" class="input-text" value="{$jiangshi.index}" placeholder="" id="index" name="index"></td>
          </tr>
		   <tr>
            <th class="text-r">交易风格：</th>
            <td><textarea class="input-text" name="recommend" id="recommend" style="height:200px;width:400px;">{$jiangshi.recommend}</textarea></td>
          </tr>
          <input type="hidden" name="icon" id="icon" value="{$jiangshi.icon}"/>
		  <input type="hidden" name="id" id="id" value="{$id}"/>
          <tr>
            <th></th>
            <td><button class="btn btn-success radius" type="submit"><i class="icon-ok"></i> 确定</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
<script type="text/javascript" src="__JS__jquery.js"></script>
<script type="text/javascript" src="__JS__admin/Validform_v5.3.2_min.js"></script> 
<script type="text/javascript" src="__JS__admin/H-ui.js"></script> 
<script type="text/javascript" src="__JS__admin/H-ui.admin.js"></script> 
<script type="text/javascript" src="__JS__ajaxfileupload.js"></script>
<script type="text/javascript">
$(".Huiform").Validform(); 
</script>
<script type="text/javascript">
	function uploadImg(id){
	
		$.ajaxFileUpload
            (
                {
                    url: '{:url("Index/Upload/uploadimg")}', //用于文件上传的服务器端请求地址
                    secureuri: false, //一般设置为false
                    fileElementId: id, //文件上传空间的id属性  <input type="file" id="file" name="file" />
                    dataType: 'text', //返回值类型 一般设置为json
                    success: function (data)  //服务器成功响应处理函数
                    {
						data = JSON.parse(data);
						data.img = data.img.replace(/\\/g, "/");
                        if(data.type==1){
							$('#uploadFile').html(data.img);
							$('#icon').val('__UPL__'+data.img);
						}else{
							layer.msg(data.info,{time:2000});
						}
                    }
                }
            )
            return false;
	
	}
	
	
	function check_form(){
	
	
		var name = $('#name').val();
		var flag = $('#flag').val();
		var icon = $('#icon').val();
		var style = $('#style').val();
		var history = $('#history').val();
		var index = $('#index').val();
		var recommend = $('#recommend').val();
		var id = $('#id').val();
		
		$.post('{:url("Jiangshi/edit_jiangshi")}',{id:id,name:name,flag:flag,icon:icon,style:style,history:history,index:index,recommend:recommend},function(data){
			
			data = JSON.parse(data);
			if(data.type==1){
				parent.location.reload();
			}else{
				layer.msg(data.msg);
			}
			
		});
		
		return false;
	
	}
</script>
</body>
</html>